#!/bin/bash

# this should be an includable bash script
SENDGRID_USER='CHANGE.ME@gmail.com'
SENDGRID_PASS='YourSendgridPassword'
TEST_EMAIL_TARGET='your.test.gmail.account+pfsg@gmail.com'
# Set to true to send an email when system is configured for a cheap test :)
# set to false NOT to send an email
SEND_TEST_EMAIL_WHEN_DONE=/bin/true
